body {
  font: 12px sans-serif;
}

path { 
    stroke: rgb(255,200,0);
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}